/** common **/
html {  -ms-text-size-adjust: 100%;  -webkit-text-size-adjust: 100%;  -webkit-user-select: none;  user-select: none;}
body { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
* {  margin: 0;  padding: 0;}
button {  font-family: inherit;  font-size: 100%;  margin: 0;  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;}
ul,ol,ul li {  padding-left: 0;  list-style-type: none;}
ul, ul li{margin:0;padding:0;}
a {text-decoration: none;}
img{vertical-align:top;}

/** other **/
#container{background-color: #F0F0F0;overflow:hidden;padding:3px;}

#item_list{padding:10px;border-top:1px solid #ECC037;}

.notice{line-height:3;font-size:smaller;margin-left:10px;}

.section{margin-top:5px; margin-bottom:10px; font-size:14px;}
.section .section-title{ width:30%; height:28px; padding-left:20px; color:#FFF; line-height: 34px; background-color:#e9cc90;border-radius: 10px 40px 0px 0px;}
.section .section-content{vertical-align:middle;border:2px solid #e9cc90; border-radius: 0 15px 15px 15px; padding:1px 5px;background-color:#FFF;}

.section-content .service-item{clear:both;width:100%;}
.section-content .service-item{overflow:hidden;border-bottom: 1px solid #E9CC90;padding: 3px 0;}
.section-content .service-item.last{border-bottom:none;}

.service-item span{display:inline-block; padding-left:5px; float:left;}
.service-item input{border:none;background-color: #FFF;padding:2px;font-size:16px;}
.service-item div{display:inline-block;vertical-align:middle;height:52px;line-height:52px;}
.service-item .item-title{padding:0px 3px;width:25%;}
.service-item .item-content .calculate-button{width:32px; line-height:35px; font-size: 28px;background-color: #FF7474;border: none;border-radius: 60px 0 0 60px;color:#FFF;}
.service-item .item-content .calculate-button.add{border-radius: 0 60px 60px 0;}
.service-item input{height:40px;line-height:40px;border-bottom:1px solid #FFBDBD;border-left:none;border-right:none;}
#next-step{display: block;width:93%;background-color: #FF7474;padding: 10px 0;margin-top: 30px;color: #FFF;text-align: center;font-size: 28px;margin: 0 auto;border-radius: 30px;margin-bottom: 20px;}


.datetimepicker td, .datetimepicker th{width:30px;height:30px;}